<div class="container">
  <h1><%= @list.name %></h1>
  <%= link_to "Back to lists", lists_path, class: "btn btn-dark mt-2" %>

  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product my-2">
      <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title %>
      <div class="card-product-infos">
        <h2 class="d-flex align-items-center justify-content-between">
          <span><%= bookmark.movie.title %> - ⭐️ <%= bookmark.movie.rating %></span>
          <%= link_to list_bookmark_path(@list, bookmark), { data: { turbo_method: :delete, turbo_confirm: 'ok?' }} do %>
            <i class="fa-solid fa-trash fa-2x text-danger"></i>
          <% end %>
        </h2>
        <p><%= bookmark.movie.overview %></p>
        <p><i class="fa-solid fa-comment"></i> <em><%= bookmark.comment %></em></p>
      </div>
    </div>
  <% end %>
</div>

  <p class="text-center">
    <%= link_to new_list_bookmark_path(@list) do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </p>
</div>

<!-- IMG TAG -->
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 200, width: 300 %>
<% else %>
  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
<% end %>
